* {
  box-sizing: border-box;
  margin: 0 auto;
  list-style: none;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

section {
  padding: 2rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: static;
  bottom: 0;
  width: 100%;
}

/* STYLES-PRODUCT */
.contenedorProduct {
  background-color: #EAEBEF;
  min-height: 100vh; 
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productTitulo {
  /* background-color: blueviolet; */
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

.productCajas {
  /* background-color: blue; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  max-width: 900px;
  margin: 0 auto;
}

.productLista {
  position: relative;
  padding: 40px 20px 30px 20px; 
  display: grid;
  gap: 10px;
  background-color: #F5F2F5;
  border: 1px solid #ccc;
}

.detallesContainer {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background: rgba(0, 0, 0, 0.274);
  display: none;
}

.mostrarDetalles .detallesContainer {
  display: block;
}

.productLista img {
  /* background-color: burlywood; */
  width: 180px;
  height: 180px;
}

@media (max-width: 885px) {
  .productCajas {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 8px;
    padding: 0 10px;
  }

  .productLista {
    padding: 20px 10px;
  }

  .productLista img {
    width: 100%;
    height: auto;
  }
}